/* src/styles/global.css */
body {
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  
  .welcome-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(76,76,76,0.7));
  }

  .welcome-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    background-image: url('../assets/images/money.png');
    background-size: 100%;
    background-position: center ; /* Position at the top center */
    /* background-repeat: no-repeat; */
    mix-blend-mode: lighten;
    background-color: black;
    filter: blur(4.7px);
    z-index: -1;

  }
  
  /* Toolbar */
  .toolbar {
    display: flex;
    color: white;
   
  }
  .logo{
    width: 296.74px;
    height: 125.89px;
    margin-top: 20px;
      }
  
  #itcush{
   
        width: 117px;
        height: 46px;
        
        font-size: 32px;
        line-height: 70px;
        color: #F0B90B;
       }
  
  /* Buttons */
  .actions .btn {
   margin-left: 800px;
   margin-top: 30px;
    padding: 0.5rem 1rem;
    background: rgba(145, 145, 145, 1);
    
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    
  }
  

 /*content */
h2{
text-align: center;
width: 334px;
height: 48px;
margin-left: 40px;
text-align: center;
font-size: 40px;
line-height: 48px;
color: #FFFFFF;

 }
  .welcome-content {
    text-align: left;
    margin-left: 50px;
    margin-top: 100px;
    align-content: center;
    color: white;
    font-size: 20px;

  }
  .coin{
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-top: 50px;
    
    
  }
  .card1{
    width: 350px;
    height: 350px;
    margin-left: 50px;
    margin-bottom: 50px;
    
  }
  .card2{
    width: 150px;
    height: 150px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    
  }
  .images{
   display: flex;
   justify-content:right;
   margin-bottom: 50px;
   
  }
  